<p style="color: green"><%= notice %></p>

<%= link_to "New customer", new_customer_path %>
<h1>Customers Details </h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p>
      <%= link_to "Show this customer", customer %>
    </p>
  <% end %>
</div>

